.header
	padding: 30px 0 20px
	position: absolute
	z-index: 99
	background-color: $white-color
	width: 100%
	&--active
		padding-top: 20px
		position: fixed
		+box-shadow
		animation: header-show .2s ease-out
.logo
	width: 120px
	text-align: center
	&__link
		font-family: geometria
		color: $black-color
		font-weight: 700
		font-size: 18px
		line-height: 23px
		&:hover
			color: $main-color
		&--white
			color: $white-color
			&:hover
				color: $white-color
				opacity: .8
.close
	position: absolute
	width: 30px
	height: 30px
	top: 30px
	right: 15px
	border: 2px solid $white-color
	border-radius: 50%
	cursor: pointer
	&__item
		position: absolute
		background-color: $white-color
		width: 70%
		height: 3px
		&:nth-child(1)
			transform: rotate(45deg)
		&:nth-child(2)
			transform: rotate(-45deg)
.menu
	&__items
		width: 100%
		list-style: none
		padding-left: 0
		margin-bottom: 0
		font-weight: 600
		font-size: 14px
		& a
			color: $grey-color
			&:hover
				color: $main-color
	&__item--active
		text-decoration: underline
.header .menu
	width: 50%
.header__phone
	font-weight: 600
	font-size: 14px
	&_link
		color: $black-color
.header__btn
	+btn
.burger
	width: 30px
	height: 20px
	background: url('../img/icons/burger.svg') center (center / cover) no-repeat
	margin-left: auto
	cursor: pointer
.overlay
	position: fixed
	z-index: 99
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: $black-color
	opacity: .2
	cursor: pointer
.promo
	padding: 95px 0 95px
	background-color: $white-color
	&__title
		font-weight: 700
		font-size: 36px
		line-height: 49px
	&__wrap
		position: relative
		padding-top: 47px
	&__plants
		position: absolute
		width: 60%
		&:nth-child(1)
			z-index: 2
			bottom: -5%
			left: -45%
		&:nth-child(2)
			bottom: 5%
			right: -12%
		&:nth-child(3)
			top: -1%
			left: -5%
.slider
	&__items
		overflow: hidden
	&__item
		height: 480px
	& .owl-dots
		height: 195px
		display: flex
		flex-direction: column
		justify-content: space-between
		position: absolute
		right: 0
		top: 35%
		& .owl-dot
			width: 15px
			height: 15px
			background-color: $grey-color
			border-radius: 50%
		& .active
			background-color: $grey-color-active
	& .owl-stage
		& .owl-item
			opacity: 0.2
		& .active
			opacity: 1
	&__count
		position: absolute
		top: 10%
		color: $grey-color
		font-weight: 600
		font-size: 18px
	&__loader
		height: 4px
		background-color: $grey-color-active
		margin-top: 38px
		&_bar
			width: 0%
			max-width: 100%
			height: 100%
			background-color: $main-color
.features
	padding-top: 120px
	+shadow
.about
	margin-bottom: 120px
	&__wrap
		height: 100%
		background-color: $white-color
	&__title
		font-weight: 700
		font-size: 70px
		color: $main-color
	&__desc
		padding-right: 80px
		margin-top: 60px
		font-weight: 400
		font-size: 14px
		line-height: 25px
.cards
	padding-bottom: 20px
	& .owl-nav 
		position: absolute
		top: -104px
		right: 0
		& button
			height: 43px
			width: 43px
			border-radius: 50%
			& span
				display: none
			&:nth-child(1)
				background: url('../img/icons/arrow-left.svg') center (center / 25px) no-repeat
				border: 2px solid $main-color
			&:nth-child(2)
				margin-left: 20px
				background: url('../img/icons/arrow-rigth.svg') center (center / 25px) no-repeat
				border: 2px solid $main-color
	& .owl-stage-outer
		padding-left: 10px
	& .owl-stage
		& > .active
			opacity: 1
			& ~ .active
				opacity: 0.5
	& .owl-dots
		display: none
	&__wrap
		padding-top: 40px
	&__count
		font-family: geometria
		font-size: 15px
		color: $grey-color
	&__loader
		height: 4px
		width: 70%
		max-width: 485px
		background-color: $grey-color-active
		&_bar
			width: 0%
			max-width: 100%
			height: 100%
			background-color: $main-color
	&__items
		margin-top: 70px
	&__item
		width: 290px
		margin: 20px 0 20px
		padding: 30px 20px 38px
		+box-shadow
	&__img
		max-width: 86px
		height: auto
	&__text
		font-weight: 600
		font-size: 18px
		line-height: 27px
		margin-top: 30px
.price
	overflow: hidden
	&__bg
		background: $main-color url("../img/icons/vector.svg") no-repeat right -30% top -300%
		padding: 90px 105px 105px 0
		&::before
			content: ''
			position: absolute
			top: 0
			left: -100%
			z-index: -1
			background-color: $main-color
			width: 101%
			height: 100%
	&__title
		+title-big
		line-height: 75px
		color: $white-color
	&__subtitle
		font-weight: 400
		font-size: 18px
		color: $white-color
		margin-top: 45px
	&__form
		max-width: 505px
		margin-left: auto
	&__input
		height: 40px
		padding: 10px 20px 15px
		margin: 15px 0
		border: 1px solid $grey-color-active
		font-weight: 400
		font-size: 14px
		color: $grey-color
		&:focus
			outline: none
	&__btn
		max-width: 290px
		margin-top: 35px
		+btn
.products
	padding: 80px 0
	+shadow
	&__title
		+title-big
		color: $main-color
	&__wrap
		margin-top: 70px
	&__item
		height: 310px
		margin-bottom: 120px
	&__img
		height: 100%
		width: auto
	&__subtitle
		margin-top: 32px
		color: $black-color
		&:hover
			color: $main-color
	&__btn
		width: 290px
		+btn
		&:hover
			color: $white-color
.partners
	padding: 110px 0 150px
	background-color: $main-color
	&__title
		+title-big
		color: $white-color
	&__wrap
		margin-top: 112px
	&__item
		max-width: 100%
	&__img
		max-width: 70%
	&__subtitle
		text-align: center
		margin-top: 34px
		padding: 0 20px
		font-weight: 600
		font-size: 18px
		line-height: 27px
		color: $white-color
.contacts
	padding: 80px 0
	&__title
		+title-big
		color: $main-color
	&__item
		width: 220px
		margin-top: 95px
	&__subtitle
		font-weight: 700
		font-size: 16px
		color: $main-color
	&__text
		font-weight: 400
		font-size: 16px
		line-height: 28px
		color: $black-color
	&__wrap
		margin-top: 90px
.social
	&__item
		&:hover
			opacity: .8
.maps
	+shadow
.footer
	padding: 40px 0
	background-color: $main-color
	&__text
		font-weight: 400
		font-size: 14px
		color: $white-color
		margin-bottom: 7px
	&__link
		font-weight: 700
		color: $white-color
		&:hover
			color: $white-color
			opacity: .8
	& .menu 
		&__items
			& a
				color: $white-color
				&:hover
					color: $white-color
					opacity: .8
.popup
	position: fixed
	left: 0
	top: 0
	z-index: 101
	width: 100%
	height: 100%
	background-color: $main-color-clear
	&__wrap
		position: fixed
		right: 50%
		top: 50%
		transform: translate(50%,-50%)
		background-color: $white-color
		padding: 30px 70px 50px 30px
		animation: popup-show .5s ease
	&__title
		font-size: 48px
		font-weight: 700
		color: $main-color
		margin-bottom: 22px
	&__input
		height: 40px
		padding: 10px 20px 15px
		margin: 15px 0
		border: 1px solid $grey-color-active
		font-weight: 400
		font-size: 14px
		color: $grey-color
		&:focus
			outline: none
	&__btn
		max-width: 290px
		margin-top: 35px
		+btn
.not_found
	padding: 80px 0
	+shadow
	&__title
		font-weight: 700
		font-size: 32px
		color: $main-color
	&__block
		font-weight: 700
		color: $main-color
		font-size: 120px
@keyframes header-show
	from
		top: -100%
	to 
		top: 0
@keyframes popup-show
	from
		top: 0
	to 
		top: 50%