@media (max-width: 1199px)
	.header
		padding-top: 20px
		&__phone
			&_link
				color: $white-color
				font-size: 30px
				&:hover
					color: $white-color
					opacity: .8
		&__btn
			color: $main-color
			background-color: $white-color
			width: 100%
			margin: 20px 0
	.header .menu
		width: 100%
		margin-bottom: 30px
		&__items
			font-size: 30px
			& a
				color: $white-color
				&:hover
					color: $white-color
					opacity: .8
	.navigate
		position: fixed
		z-index: 100
		right: 0
		top: 0
		max-width: 320px
		width: 100%
		padding: 30px 15px
		background-color: $main-color
		animation: header-show .3s ease-out
	.about
		&__title
			font-size: 58px
		&__desc
			margin-top: 70px
			padding-right: 20px
	.cards
		&__wrap
			padding-top: 30px
		&__loader
			width: 60%
	.price
		&__bg
			background-position: right -30% top -200%
		&__form
			max-width: 400px
	.products
		&__item
			height: 250px
	.popup
		&__title
			font-size: 42px
@media (max-width: 991px)
	.promo
		padding-bottom: 65px
		&__plants
			&:nth-child(1)
				left: -25%
	.about
		&__desc
			margin-top: 36px
	.cards
		&__loader
			width: 70%
	.price
		&__bg
			background-position: right 50% top 200%
			&::after
				content: ''
				position: absolute
				top: 0
				right: -100%
				z-index: -1
				background-color: $main-color
				width: 100%
				height: 100%
		&__title
			font-size: 62px
		&__form
			margin: 20px auto 50px
			max-width: 505px
	.products
		&__title
			font-size: 62px
	.partners
		&__title
			font-size: 62px
		&__img
			max-width: 60%
	.contacts
		&__title
			font-size: 62px
	.logo
		margin: 0 auto
	.menu
		&__items
			margin: 15px 0
	.footer
		&__text
			text-align: center
	.popup
		&__wrap
			padding: 30px
		&__title
			font-size: 32px
		&__btn
			max-width: 200px
@media (max-width: 767px)
	.logo
		&__link
			font-size: 16px
	.burger
		width: 25px
		height: 16px
	.promo
		&__plants
			&:nth-child(1)
				bottom: 0
				left: -20%
	.features
		padding-top: 80px
	.about
		margin-bottom: 62px
	.price
		&__bg
			padding: 45px 0
			background-position: right 50% top 100%
	.partners
		padding-bottom: 75px
	.contacts
		padding: 43px 0 26px
	.popup
		&__wrap
			width: 60%
		&__title
			font-size: 28px
@media (max-width: 575px)
	.header
		&__btn
			width: 65%
	.logo
		&__link
			font-size: 14px
			line-height: 18px
	.burger
		margin: 0 auto
	.navigate
		max-width: 100%
	.promo
		&__title
			font-size: 28px
			line-height: 35px
			z-index: 2
		&__plants
			&:nth-child(2)
				bottom: 10%
	.slider
		&__item
			height: 400px
	.about
		&__title
			font-size: 32px
	.cards
		&__img
			width: 76px
		&__loader
			width: 60%
		& .owl-nav
			top: -100px
			& button
				width: 36px
				height: 36px
	.price
		&__bg
			background-size: 60%
		&__title
			font-size: 32px
			line-height: 1.5
		&__subtitle
			margin-top: 0
		&__form
			max-width: 290px
	.products
		&__title
			font-size: 32px
	.partners
		padding: 40px 0 60px
		&__wrap
			margin-top: 72px
		&__item
			max-width: 80%
		&__title
			font-size: 32px
		&__subtitle
			font-size: 14px
	.contacts
		&__title
			font-size: 32px
		&__item
			margin-top: 20px
	.maps
		&__item
			height: 532px
	.popup
		&__wrap
			width: 90%
@media (max-width: 425px)
	.header
		&--active
			padding: 10px 0
		&__btn
			width: 85%
		&__phone
			&_link
				font-size: 24px
	.header .menu
		&__items
			& a
				font-size: 24px
	.burger
		width: 18px
		height: 12px
	.promo
		&__title
			font-size: 22px
			line-height: 25px
		&__plants
			&:nth-child(1)
				left: -10%
			&:nth-child(3)
				top: 5%
	.slider
		&__item
			height: 305px
		& .owl-dots
			top: 25%
			height: 130px
			& .owl-dot
				width: 10px
				height: 10px
	.features
		padding-top: 45px
	.about
		margin-bottom: 35px
		&__desc
			line-height: 1.5
	.cards
		&__items
			margin-top: 50px
		&__item
			height: 240px
		&__loader
			width: 50%
		&__img
			width: 66px
		&__text
			font-size: 16px
			margin-top: 16px
			line-height: 1.5
		& .owl-nav
			top: -80px
			& button
				&:nth-child(2)
					margin-left: 15px
	.price
		&__form
			margin-top: 30px
		&__bg
			padding: 30px 0
	.products
		padding: 60px 0
	.partners
		&__item
			max-width: 100%
		&__subtitle
			padding: 0
			line-height: 21px
	.maps
		&__item
			height: 350px
	.popup
		&__wrap
			width: 90%
			padding: 20px
		&__title
			font-size: 26px
@media (max-width: 320px)
	.header
		&__btn
			width: 100%
	.promo
		padding-bottom: 25px
		&__title
			font-size: 18px
	.slider
		&__item
			height: 235px
	.features
		padding-top: 42px
	.about
		&__title
			font-size: 30px
		&__desc
			margin-top: 22px
	.cards
		&__wrap
			padding-top: 40px
		&__loader
			width: 45%
		&__items
			margin-top: 22px
		& .owl-nav
			top: -52px
	.price
		&__bg
			background-position: right 0 top -50%
		&__subtitle
			font-size: 16px
	.maps
		&__item
			height: 290px
	.popup
		&__btn
			max-width: 100%
